* {
    margin: 0;
    padding: 0;
}

svg {
    margin-right: 10px;
}

nav {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Container {
    width: 100%;
    background-color: #EAEAEA;
}

.sensorikanav {
    display: flex;
    align-items: center;
    gap: 10px;
}

input {
    border: none;
    background-color: #f5f5f5;
    width: 245px;
    height: 40px;
    padding: 15px;
    border-radius: 4px;
    position: absolute;
    left: 32%;
}

#oqi {
    color: #3baef4;
}

#oqi1 {
    color: #e85747;
}

.oqi {
    display: flex;
    gap: 10px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    flex-wrap: wrap;
}







.div7 {
    grid-column-start: 1;
    grid-row-start: 3;
}

.div8 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.div9 {
    grid-column-start: 2;
    grid-row-start: 3;
}

.div10 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.div11 {
    grid-column-start: 3;
    grid-row-start: 3;
}

.div12 {
    grid-column-start: 4;
    grid-row-start: 2;
}

.div13 {
    grid-column-start: 4;
    grid-row-start: 3;
}

.div14 {
    grid-column-start: 5;
    grid-row-start: 2;
}

.top{
    font-size: 40px;
    font-weight: 300;
}

.cards {
    padding: 0.7px;
    margin-bottom: 15px;
    background-color: #fff;
    width: 211;
    height: 379px;
    border-radius: 10px;
}
.cards img{
    margin-top: 30px;
}
.cards svg{
    color: rgb(240, 196, 77);
}
.cards svg:hover{
    color: rgb(255, 147, 47);
}
button{
    background-color: #00adff;
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 150px;
}
.mvp{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.idk{
    display: flex;
    justify-content: space-around;
}
#burg{
    color: black;
}
img{
    border-radius: 10px;
}
.search{
    border: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    width:345px;
    height: 40px;
}
input:focus{
    border: none;
}
.bi-search{
    margin-left: 10px;
    margin-top: 5px;
}